/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: subpixel-antialiased; }

 /* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:active { outline: none; }
a:focus { outline: none; }

a, a:active, a:visited { color:#fff; }
a:hover { color:#333; }

#primary-content a, a:active, a:visited { color:#1C6EA0; }       
#primary-content a:hover { color:#52C8F0; }
#primary-content2 a, a:active, a:visited { color:#1C6EA0; }
#primary-content2 a:hover { color:#52C8F0; }
.large {font-size:16px;}

body {
	margin: 0;
	padding: 0;
	color: #333333;

	background-color: #444;
	background-image: url(../images/backslice.jpg);
	background-repeat: repeat;


	font:14px "Helvetica Neue", helvetica, arial, "Nimbus Sans L", "Bitstream Vera Sans", sans-serif; *font-size:small; *font:x-small; line-height:1.22; text-rendering: optimizeLegibility;
}

#header {
	height: 160px;

	overflow: auto;
	text-align: right;
	overflow-x:hidden;
	overflow-y:hidden;
	background-image: url(../../images/nh/logo.png);

	background-repeat: no-repeat;
	background-position: left 20px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	float: left;
	width:960px;
	
	font-weight: normal;
}
#header2 {
	height: 110px;

	overflow: auto;
	text-align: right;
	overflow-x:hidden;
	overflow-y:hidden;

	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	float: left;
	width:960px;
	
	font-weight: normal;
}

.box {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper {margin: 0 auto;width: 960px; }
#content-surround {width:96%;float:left;background:#fff;padding:2%!important;padding-bottom:20px!important;padding-top:20px!important;
    background:  -moz-linear-gradient(19% 75% 90deg,#fff, #fff);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
    /*** Shadow behind the box ***/
    -moz-box-shadow:0px -5px 20px #ccc;
    -webkit-box-shadow:0px -5px 20px #ccc;
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
    }
#main-nav {width:235px;float:left!important;padding:0!important;margin:0!important;background:#fff;}
 .sub-pages {width:235px;float:left!important;padding:0!important;margin:0!important;}
 .sub-pages li {list-style:none;margin:0!important;padding:0!important;}
 .sub-pages li a {display:block;float:left;width:85%;padding:9px 9px 9px 35px;margin:0 0 1px 0;background:#eee url(../images/arrow.png) no-repeat 10px 13px;color:#4C7256;font-size:13px;font-weight: normal;text-decoration:none!important;}
 .sub-pages li a:hover {background:#ddd url(../images/arrow.png) no-repeat 10px 13px ;color:#000;	}
 .sub-pages li a.current {color: #E7CB5E;background-image:none;}


#primary-content {float:right;width:640px;background:#fff;padding-left:10px;padding-right:10px;}

.surroundgreydark {text-shadow: 0px 1px 1px #fff;margin-top:40px;margin-bottom:20px;float:left;width:96%;padding:2%;background:url(../images/recognisedslice.jpg) repeat;-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;}
.surroundgreydark2 {margin-top:40px;margin-bottom:20px;float:left;width:96%;padding:2%;background:fff;-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;}

#footer {width:960px;clear:both;text-align:left;font-size:11px;margin:0 0 35px 0;padding:18px 0 25px 0;	color: #333;}
#copyright {float: left;width: 76%;padding-left: 0%;color: #333;}
 #colophon {float: right;width: 21%;text-align: right;}
 .web-solutions-logo-button {background: url(../images/creditslogo.png) no-repeat left -2px;display: block;color: #666;text-align: left;float: left;padding-left: 40px;width: 100%;text-decoration:none;}
 .web-solutions-logo-button:visited {color: #666;}
 .delete {background:url(../images/delete.gif) no-repeat left top;width:24px;height: 24px;text-indent: -9999px;display: block;}
 .button_text {margin-top:20px;background:#C85397!important;-webkit-border-radius: 30px; -moz-border-radius: 30px;border-radius: 30px;padding:1px;display:block;float:left;text-shadow:none;color:#fff!important;padding-top:4px!important;border:none;}
 .button_text:hover {margin-top:20px;background:#46247A!important;text-shadow:none;color:#fff!important;}
 .button_text2 {margin-right:20px;margin-top:20px;background:#54CAEE!important;-webkit-border-radius: 30px; -moz-border-radius: 30px;border-radius: 30px;padding:10px!important;display:block;float:left;text-shadow:none;color:#fff!important;padding-top:8px!important;border:none;font-size:14px;}
 .button_text2:hover {margin-top:20px;background:#1B6D9F!important;text-shadow:none;color:#fff!important;}
 /*
 # Tables ################### 
 */
 table {border-collapse: collapse;border-left: 1px solid #ccc;border-spacing: 0;margin-top: 15px;margin-bottom: 15px;}
 table a {text-decoration:none!important;}
 #primary-content th {font-size:12px!important;color: #333!important;font-weight:normal;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;text-align: left;padding: 12px 12px 12px 12px;background:#eee url(../images/greyslice.jpg) repeat;}
 #primary-content td {border-right: 1px solid #ccc;border-top: 1px solid #ccc;background: #fff;padding: 8px 8px 8px 12px;vertical-align:middle;color: #333!important;font-size:12px!important;}
 #primary-content tbody th {font-size:12px!important;color: #333!important;;font-weight:normal;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;text-align: left;padding: 12px 12px 12px 12px;background:#eee url(../images/greyslice.jpg) repeat;}
 #primary-content tbody td {font-size:12px!important;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff;padding: 8px 8px 8px 12px;vertical-align:middle;color: #333!important;}
 #no-border-table {border-collapse: collapse;border-left:none;border-spacing: 0;margin-top: 15px;margin-bottom: 15px;}
 #primary-content #no-border-table th {font-size:12px!important;color: #333!important;font-weight:normal;border:none;text-align: left;padding: 12px 12px 12px 12px;background:#eee url(../images/greyslice.jpg) repeat;}
 #primary-content #no-border-table td {border:none;background: #fff;padding: 8px 8px 8px 12px;vertical-align:middle;color: #333!important;font-size:12px!important;}
 #primary-content #no-border-table tbody th {font-size:12px!important;color: #333!important;;font-weight:normal;border:none;text-align: left;padding: 12px 12px 12px 12px;background:#eee url(../images/greyslice.jpg) repeat;}
 #primary-content #no-border-table tbody td {font-size:12px!important;border:none;background: #fff;padding: 8px 8px 8px 12px;vertical-align:middle;color: #333!important;}
 table .no-top-border-table td {border-right: 1px solid #ccc;border-top:none!important;background: #fff;padding: 8px 8px 8px 12px;vertical-align:middle;color: #333!important;font-size:12px!important;}
 .tdsurround {background:#ccc!important;}
 .event-surround {float:left; width:210px; height:100px;margin-right:3px;}
 /*
 # Images ################### 
 */

 img {vertical-align: bottom;}
 img.align-left  {float: left;margin-top: 10px;margin-bottom: 15px;margin-right: 10px;}
 img.align-right {float: right;margin-top: 10px;margin-bottom: 15px;margin-left: 10px;}
 img.centered{display: block;margin-left: auto;margin-right: auto;background: url(images/portraitshaow.png) no-repeat center bottom;padding-bottom: 20px;}
 /* Typography */
#primary-content-login h2.page-title {width:551px;height:101px;text-indent:-9999px;background: url(../images/cms.jpg) no-repeat;margin:50px 0 30px 180px;}
 h2.page-title{font-size:1.857143em;line-height: 0.523077em;margin-top: 0em;margin-bottom: 0em;padding-top: 0.2161538em;padding-bottom: 0.161538em;color:#1B6D9F;}
 .page-title-smaller {font-size: 1.666667em!important;line-height: 1.05em;padding-top: 0.525em;padding-bottom: 0.525em;color:#c85397;text-shadow: 0px 2px 3px #fff;}
 h3 {font-size: 1.571429em;line-height: 1.090909em;margin-top: 0em;margin-bottom: 0em;padding-top: 0.461538em;padding-bottom: 0.461538em;color:#1C6EA0;}
 h4 {font-size: 1.357143em;line-height: 1.263158em;margin-top: 0em;margin-bottom: 0em;padding-top: 0.545455em;padding-bottom: 0.545455em;color:#54CAEE;}
 h5 {font-size: 1.214286em;line-height: 1.411765em;margin-top: 0em;margin-bottom: 0em;padding-top: 0.631579em;padding-bottom: 0.631579em;color:#1B6D9F;}
 h6 {font-size: 1.071429em;line-height: 1.6em;margin-top: 0em;margin-bottom: 0em;padding-top: 0.705882em;padding-bottom: 0.705882em;color:#993366;}    	
 p {font-size: 1em;line-height: 1.714286em;margin-top: 0em;margin-bottom: 0em;padding-top: 0em;padding-bottom: 0.857143em;}

 #credits p{font-size:0.928571em;text-shadow: 0px 1px 2px #fff;}
 #featured-welcome p {font-size:1.285714em;color:#452479;line-height:1.5em;}
#primary-content a {text-decoration:none;font-weight:400;}
 .spacer h2 {color:#fff!important;	font-size: 1.5em;line-height: 1.166667em;padding-top: 0.2625em;padding-bottom: 0.2625em;}
 .menu-title {float:left!important;color:#000;font-size:13px!important; padding:10px 18px 10px 18px;}
.trainingcat {padding-top:5px!important;padding-bottom:5px!important;margin:0;}
 .contact-column2 p {font-size: 16px;}
 .office-title {font-size: 1.416667em;font-weight:bold;}
 .contact-column3 p{margin-bottom: -6px; font-size: 1.083333em;padding:0px;}

 .yearpicker h3 {color:#333!important;}
 
 /* Main Navigation */
#top-nav  {float:right;width:35%;margin-top:30px!important; padding-left:12px; -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
    
    
background:#1B6D9F ; /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
 background:  -moz-linear-gradient(19% 75% 90deg,#1B6D9F, #1B6D9F);
 background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1B6D9F), to(#1B6D9F));
}
#top-nav ul {margin:0px;padding:0px;float:left;}
#top-nav ul li {display:inline; list-style:none; margin:0px;}
#top-nav ul li a {text-decoration:none;font-weight:normal;font-size:15px;color:#fff!important;float:left; padding:13px;background:#1B6D9F;margin-right:3px; background:  -moz-linear-gradient(19% 75% 90deg,#51298E, #1B6D9F);
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1B6D9F), to(#1B6D9F));   }
#top-nav ul li a:hover{background:#C85397;color:#fff;
    background:  -moz-linear-gradient(19% 75% 90deg,#53C8EB, #B3EAFB);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#B3EAFB), to(#53C8EB));
    
    }
#top-nav ul li a.current  {background:#C85397;color:#fff;}

form.loginform {
    width: 280px;
    padding: 20px;
    border: none;
    margin: 0 auto;
    color:#fff;

    /*** Adding in CSS3 ***/

    /*** Rounded Corners ***/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background:silver;
    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
   /* background:  -moz-linear-gradient(19% 75% 90deg,#4F2683, #A76FBA);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#A76FBA), to(#4F2683));*/

    /*** Shadow behind the box ***/
    -moz-box-shadow:0px -5px 50px #000;
    -webkit-box-shadow:0px -5px 50px #000;
}

.loginform input {
    width: 260px;
    background: #fff;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #ad64e0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    /*** Transition Selectors - What properties to animate and how long ***/
        -webkit-transition-property: -webkit-box-shadow, background;
        -webkit-transition-duration: 0.25s;

        /*** Adding a small shadow ***/
        -moz-box-shadow: 0px 0px 2px #000;
        -webkit-box-shadow: 0px 0px 2px #000;

}

.loginform input:hover {
    -webkit-box-shadow: 0px 0px 6px #000;
    background: #eee;
}

.loginform input.submit {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #333;
    margin-top: 10px;
    background:#000000;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    cursor:pointer;
}
.loginform input:hover.submit{
    background:#111;
    }
    /*
# Forms ################### 
*/
fieldset, img {
  border: 0;
}

legend {
  color: #000;
  padding-bottom: .5em; 
}

label {padding-top: 1.2em;}

fieldset {
	line-height: 1;
}
fieldset {margin:0; padding:0;}
input[type="checkbox"] {
  vertical-align: bottom; 
  *vertical-align: baseline;
}

input[type="radio"] {vertical-align: text-bottom;}

input {_vertical-align: text-bottom;}

input, button, textarea, select, optgroup, option {
	font-size: 0.9em;
	padding: 4px;
}
input:focus{outline:1px dotted #000;}
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.inputButton {
  *overflow: visible;
  _width: 0;
  padding: .2em .4em;
}




/* ****************************************************************************************** */
.inputBlank {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #000000;
}
#input h2 {
	color: #FFFFFF;
	background-color: #7FAB4A;
	padding: 4px;
	margin-top: 15px;
}
.inputBlankSubmit {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #FFFFFF;
}
.inputBlankMoney {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #000000;
	text-align: right;
}
.inputMoney {
	text-align: right;
}
/* ****************************************************************************************** */
.floatMenu {
	width: 190px;
	min-height:130px;
	height:auto !important;
	float:left;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #E4E4E4;
	background-image: url(../images/Roundedbottom.jpg);
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 5px;
	-webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
	
}
#footer p {
	
	font-size: 11px;
}
.floatMenu  a:hover {
	color: #7FAB4A;
}
.floatMenu h1 {
	background-color: #477097;
	text-align: left;
	color: #FFFFFF;
	
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	background-image: url(../images/headerrounded.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	height: 15px;
}
.floatMenu li {
	list-style-type: none;
}
.floatMenu li a {
	display: block;
	float: left;
	text-align: left;
	margin-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	
	font-size: 11px;
	width: 91%;
	padding-left: 6%;
}
.floatMenu li a:hover {
	background-color: #7FAB4A;
	color: #FFFFFF;
}
.floatMenu ul {
	margin-top: 10px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.floatOptions {
 	width: 250px;
 	float:left;
 	text-align: center;
	margin: 5px;
	border: double #CCCCCC;
	padding-bottom: 10px;
}
.floatOptions h2 {
	background-color: #C9E5D4;
}
.floatOptions h1:first-letter {
	font-size: 110%;
}
.floatOptions select {
	width: 220px;
}
.floatSingle {
 	min-width: 250px;
 	float:left;
 	text-align: center;
	margin: 5px;
	border: double #CCCCCC;
	padding-bottom: 10px;
}
.floatSingle h2 {
	background-color: #C9E5D4;
}
.floatSingle h1:first-letter {
	font-size: 110%;
}
.floatSingle select {
	width: 220px;
}

.tabNormal {
	padding-left: 10px;
	padding-right: 10px;
}
.tabHighlight {
	background-color: #C9E5D4;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}
.tabHighlight a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.tabHighlight a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.tabHighlight a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
.tabHighlight a:CCCCCC {
	color: #FFFFFF;
	text-decoration: none;
}
/* ************************************************** */
#dateRegion {
	margin-top: 5px;
	margin-bottom: 5px;
}
#dateRegion a:link {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:visited {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:hover {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:active {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion .selected {
	background-color: #C9E5D4;
}
#dateRegion a:link.lhs {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:visited.lhs {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:hover.lhs {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:active.lhs {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
/* ************************************************** */
#calendar td {
	text-align: center;
}
#calendar td.ordinary {
	border: 1px solid #CCCCCC;
}
#calendar td.weekend {
	border: 1px solid #C9E5D4;
	background-color: #C9E5D4;
}
#calendar td.bookingAcademic {
	border: 1px solid #000000;
	background-color: #D85656;
}
#calendar td.bookingSport {
	border: 1px solid #000000;
	background-color: #9356D8;
}
#calendar td.bookingParents {
	border: 1px solid #000000;
	background-color: #56D85C;
}
#calendar td.bookingGeneral {
	border: 1px solid #000000;
	background-color: #57D8C6;
}
#calendar td.today {
	border: 1px solid #E6ECAC;
	background-color: #E6ECAC;
}
.field {
	padding: 10px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: ridge;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.labeltext {
	
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 3px;
}

#logintable {
	background-color: #FFFFFF;
	padding: 10px;
}
#logintable  h1 {
	background-color: #016A6D;
	text-align: left;
	color: #FFFFFF;
	
	font-size: 15px;
	font-weight: bold;
	background-image: url(../images/headerrounded.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.submit
		{
	height: 42px;
	width: 130px;
	border:none;
	background-image: url(../images/submit_button.jpg);
	background-repeat: no-repeat;
	background-color:transparent;
	
	padding-top:42px;
		}
		
		.submit:hover
		{
	background-image: url(../images/submit_button.jpg);
	background-repeat: no-repeat;
	background-color:transparent;
	background-position: 0 -42px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
		}
.DirectoryLIsttable {
}
.DirectoryLIsttable    td {
	padding: 3px;
	margin-bottom: 2px;
	
	font-size: 11px;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.DirectoryLIsttable a {
	
	color: #BE0000;
	font-size: 11px;
	font-weight: normal;
}
.DirectoryLIsttable a:hover {
	color: #333333;
	text-decoration: underline;
}
.DirectoryLIsttable  tr {
	margin-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-top: 2px;
}
#greenbold {
	font-weight: bold;
	color: #7FAB4A;
	margin-right: 5px;
}
#darkgreen {
	color: #7FAB4A;
}
.iframenewsletter {
	background-color: #749C44;
}
.admininsert {
	background-color: #EFEFEF;
	border: 1px dashed #999999;
	padding: 3px;
}
iframe  {
	border: 1px dotted #999999;
}
.tablenewsletter {
	background-color: #CCCCCC;
	border: thin dotted #999999;
}
.stressquestions {
	
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 6px;
}
.stressquestions a {
	color: #990000;
	
	font-size: 11px;
}
.stressquestions a:hover {
	color: #000000;
}
.largefield {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.largefieldgreenborder {
	border: 1px solid #7EAA49;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.questions span {
	color: #016A6D;
}
.bolddarkgreen {
	
	font-size: 11px;
	font-weight: bold;
	color: #002224;
}
.surveyresutsviewtable {
	font-size: 11px;
}
.subscriberlist {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
#leftside {
	float: left;
	width: 500px;
}
#rightside {
	float: right;
	width: 350px;
}
.questions3 {
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.fieldsmall {
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	font-size: 12px;
}
.DirectoryLIsttablespacebottom td {
	margin-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.DirectoryLIsttablespacebottom {
	margin-bottom: 20px;
}
.DirectoryLIsttable   h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	
	font-size: 12px;
}
.DirectoryLIsttablespacebottom h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	
	font-size: 12px;
}
.questions h3 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #016A6D;
	
	font-size: 12px;
}
.questions  h2 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
.questions  h5 {
	background-color: #DBDBDB;
	color: #666666;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	
	font-size: 12px;
	border: 1px dotted #CCCCCC;
}
.questions3 h2 {
	background-color: #003333;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
.fieldsmall2 {
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	
	font-size: 12px;
}
.darkgreentext {
	color: #537130;
}
.surveyresultslisttable a {
	color: #749C44;
}
.surveyresultslisttable a:hover {
	color: #666666;
	text-decoration: underline;
}
.surveyresutsviewtable h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	
	font-size: 12px;
}
.bolddarkgreen a {
	font-weight: bold;
	color: #016A6D;
}
.bolddarkgreen span {
	
	font-size: 11px;
	font-weight: bold;
	color: #002224;
}
.testcolour {
	color: FF0000;
}

/* New styles added 18-05-09************************************************** */

table.tablesorter {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	border-bottom-style:none;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
table.tablesorter th   {
	background-image: url(../images//bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 7px;
	background-color: #E0E0E0;
	font-size: 15px;
	font-weight: normal;
}
table.tablesorter td  {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	
}
table.tablesorter tbody tr.odd td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
.darkgreentlink {
	color: #FFF;
	text-decoration: none;
	background-color: #96CD55;
	border: 1px solid #87BA4B;
	float: right;
	margin-bottom: 10px;
	display: block;
	width: 18%;
}
#mainContent .floatleft {
	float: left;
	display: block;
	width: 100%;
	line-height: 1.6em;
}
#initiativeSpace {
	float: left;
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#selectbox {
	width: 200px;
	margin-top: 8px;
}
.textfield {
	width: 260px;
	padding: 5px;
	margin-top: 8px;
}
#initativeSurround {
	float: left;
	width: 95%;
	background-color: #E7E7E7;
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 2%;
	padding-bottom: 10px;
	padding-left: 2%;
}
.boldheading {

	font-size: 14px;
	color: #000;
	padding-bottom: 3px;
}
#countrySpace {
	float: left;
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#initiativeAdd {
	float: left;
	width: 30%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 10px;
	background-color: #F2F2F2;
	padding-right: 2%;
	padding-left: 2%;
	margin-top: 10px;
}
#input h6 {
	margin-top: 15px;
}


table.tablesorter2 {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
table.tablesorter2 th   {
	background-image: url(../images//bg.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 7px;
	background-color: #E0E0E0;
	font-size: 15px;
	font-weight: normal;
}
table.tablesorter2 td  {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	
}
table.tablesorter2 tbody tr.odd td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
#addalinktable {
	background-color: #E7E7E7;
	border: 1px solid #CCC;
}
#addacountry {
	background-color: #E7E7E7;
	border: 1px solid #CCC;
	float: right;
}
#publicationsuploadedtable {
	border: 1px dashed #CCC;
}
#publicationsuploadedtable {
	border: 1px dashed #CCC;
	padding: 6px;
}
.surveyresutsviewtable {
	float: right;
}
.surveyresutsviewtable2 {
	float: left;
}
