
#upWarning {
	display: none;
}
#navpanel {
	width: 180px;
	background-color: #C8004C;
}
#navpanel .panelitem {
	padding: 5px 0px 5px 5px;
	border-bottom: 1px solid black;
}
#navpanel .panelitem .styleLink {
	color: #FFFFFF
}