body {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	text-shadow: #000000 0 0 0px;
	line-height: 1.2em;
}
.box {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container {
	width: 900px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#header {
	height: 111px;
	min-height: 111px;
	overflow: auto;
	text-align: right;
	overflow-x:hidden;
	overflow-y:hidden;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	float: left;
	width: 100%;
}
#header h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#header h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	color: #374A20;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-weight: bold;
}
#header h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin-top: 30px;
	margin-right: 0;
	margin-left: 0;
	padding: 0px;
	color: #FFFFFF;
}
#mainContent {
	min-height: 450px;
	padding-top: 20px;
	float: left;
	width: 100%;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-bottom: 0;
	padding-left: 0%;
	padding-right: 0px;
}
#header a {
	color: #FFFFFF;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	font-variant: normal;
	font-weight: bold;
	text-decoration: none;
	padding-right: 7px;
}
#header a:hover {
	color: #333333;
}
#mainContent h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #B21A4B;
}
#companydetails h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #B21A4B;
}
#mainContent h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100%;
}
#mainContent h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 90%;
}
#mainContent h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 80%;
}
#mainContent p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #333333;
}
a  {
	color: #06C;
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	font-weight: bold;
}
a:hover  {
	color: #035E61;
}
#insertContent a {
	margin: 0px;
	padding: 0px;
}

#insertContent {
	padding: 0 20px;
	background: #FFFFFF;
	min-height: 390px;
	margin: 0px 0 0px 0;
	padding-top: 10px;
}
#insertContent h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #3C5123;
	background-color: #E7F5DF;
	padding: 5px;
	font-weight: normal;
}
#insertContent h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 100%;
}
#insertContent h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 90%;
}
#insertContent h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 80%;
}
#footer {
	clear: both;
	padding: 0 10px;
	background-color: #4d1985;
}
#footer p {
	margin: 0;
	padding: 10px 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
/* ****************************************************************************************** */
.nav {
	float: left;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-left: 1%;
}
.nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nav li {
	display: inline;
}
.nav li a {
	background-color: silver;
	border: 1px solid black;
	color: #000000;
	text-decoration: none;
	margin-left: 0px;
	float: left;
	margin-top: 1px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	height: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	font-variant: normal;
	margin-right: 5px;
}
.nav li a:hover {
	text-decoration: underline;
}
/* ****************************************************************************************** */
#navigationCSS {
	margin-top: -5px;
	margin-bottom: 10px;
}
#navigationCSS h2 {
	margin:0px;
	font-size: 80%;
	text-align: center;
	background-color: #FFFFFF;
}
#navigationCSS h2 a:link {
	color: #015E60;
	text-decoration: none;
	padding: 5px;
	border-left: 2px solid #C9E5D4;
}
#navigationCSS h2 a:visited {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-left: 2px solid #C9E5D4;
}
#navigationCSS h2 a:hover {
	color: #4d1985;
	text-decoration: none;
	padding: 5px;
	border-left: 2px solid #C9E5D4;
}
#navigationCSS h2 a:active {
	color: #4d1985;
	text-decoration: none;
	padding: 5px;
	border-left: 2px solid #C9E5D4;
}
#navigationCSS h2 .selected {
	background-color: #C9E5D4;
}
/* ****************************************************************************************** */
.inputBlank {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #000000;
}
#input h2 {
	color: #FFFFFF;
	background-color: #4d1985;
	padding: 4px;
	margin-top: 15px;
}
.inputBlankSubmit {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #FFFFFF;
}
.inputBlankMoney {
	background-color: #FFFFFF;
	border: 1px solid white;
	color: #000000;
	text-align: right;
}
.inputMoney {
	text-align: right;
}
/* ****************************************************************************************** */
.floatMenu {
	width: 190px;
	min-height:150px;
	height:auto !important;
	height:150px;
	float:left;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-color: #E4E4E4;
	background-image: url(../images/Roundedbottom.jpg);
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-left: 5px;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.floatMenu  a:hover {
	color: #4d1985;
}
.floatMenu h1 {
	background-color: #016A6D;
	text-align: left;
	color: #FFFFFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	background-image: url(../images/headerrounded.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	height: 15px;
}
.floatMenu li {
	list-style-type: none;
}
.floatMenu li a {
	display: block;
	float: left;
	text-align: left;
	margin-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999999;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 91%;
	padding-left: 6%;
}
.floatMenu li a:hover {
	background-color: #4d1985;
	color: #FFFFFF;
}
td {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
}
.floatMenu ul {
	margin-top: 10px;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.floatOptions {
 	width: 250px;
 	float:left;
 	text-align: center;
	margin: 5px;
	border: double #CCCCCC;
	padding-bottom: 10px;
}
.floatOptions h2 {
	background-color: #C9E5D4;
}
.floatOptions h1:first-letter {
	font-size: 110%;
}
.floatOptions select {
	width: 220px;
}
.floatSingle {
 	min-width: 250px;
 	float:left;
 	text-align: center;
	margin: 5px;
	border: double #CCCCCC;
	padding-bottom: 10px;
}
.floatSingle h2 {
	background-color: #C9E5D4;
}
.floatSingle h1:first-letter {
	font-size: 110%;
}
.floatSingle select {
	width: 220px;
}

.tabNormal {
	padding-left: 10px;
	padding-right: 10px;
}
.tabHighlight {
	background-color: #C9E5D4;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}
.tabHighlight a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.tabHighlight a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.tabHighlight a:hover {
	color: #CCCCCC;
	text-decoration: none;
}
.tabHighlight a:CCCCCC {
	color: #FFFFFF;
	text-decoration: none;
}
/* ************************************************** */
#dateRegion {
	margin-top: 5px;
	margin-bottom: 5px;
}
#dateRegion a:link {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:visited {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:hover {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion a:active {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
}
#dateRegion .selected {
	background-color: #C9E5D4;
}
#dateRegion a:link.lhs {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:visited.lhs {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:hover.lhs {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
#dateRegion a:active.lhs {
	color: #373535;
	text-decoration: underline;
	padding: 5px;
	border-right: 2px solid #C9E5D4;
	border-left: 2px solid #C9E5D4;
}
/* ************************************************** */
#calendar td {
	text-align: center;
}
#calendar td.ordinary {
	border: 1px solid #CCCCCC;
}
#calendar td.weekend {
	border: 1px solid #C9E5D4;
	background-color: #C9E5D4;
}
#calendar td.bookingAcademic {
	border: 1px solid #000000;
	background-color: #D85656;
}
#calendar td.bookingSport {
	border: 1px solid #000000;
	background-color: #9356D8;
}
#calendar td.bookingParents {
	border: 1px solid #000000;
	background-color: #56D85C;
}
#calendar td.bookingGeneral {
	border: 1px solid #000000;
	background-color: #57D8C6;
}
#calendar td.today {
	border: 1px solid #E6ECAC;
	background-color: #E6ECAC;
}
.field {
	padding: 10px;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: ridge;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.labeltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	padding-bottom: 3px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
#logintable {
	background-color: #FFFFFF;
	padding: 10px;
}
#logintable  h1 {
	background-color: #016A6D;
	text-align: left;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-image: url(../images/headerrounded.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.submit
		{
	height: 42px;
	width: 130px;
	border:none;
	background-image: url(../images/submit_button.jpg);
	background-repeat: no-repeat;
	
	padding-top:42px;
		}
		
		.submit:hover
		{
	background-image: url(../images/submit_button.jpg);
	background-repeat: no-repeat;
	background-position: 0 -42px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
		}
.DirectoryLIsttable {
}
.DirectoryLIsttable    td {
	padding: 3px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.DirectoryLIsttable a {
	font-family: Arial, Helvetica, sans-serif;
	color: #BE0000;
	font-size: 11px;
	font-weight: normal;
}
.DirectoryLIsttable a:hover {
	color: #333333;
	text-decoration: underline;
}
.DirectoryLIsttable  tr {
	margin-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-top: 2px;
}
#greenbold {
	font-weight: bold;
	color: #4d1985;
	margin-right: 5px;
}
#darkgreen {
	color: #016A6D;
}
.iframenewsletter {
	background-color: #749C44;
}
.admininsert {
	background-color: #EFEFEF;
	border: 1px dashed #999999;
	padding: 3px;
}
iframe  {
	border: 1px dotted #999999;
}
.tablenewsletter {
	background-color: #CCCCCC;
	border: thin dotted #999999;
}
.stressquestions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 6px;
}
.stressquestions a {
	color: #990000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.stressquestions a:hover {
	color: #000000;
}
.largefield {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.largefieldgreenborder {
	border: 1px solid #7EAA49;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.questions span {
	color: #016A6D;
}
.bolddarkgreen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #002224;
}
.surveyresutsviewtable {
	font-size: 11px;
}
.subscriberlist {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
#leftside {
	float: left;
	width: 500px;
}
#rightside {
	float: right;
	width: 350px;
}
.questions3 {
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.fieldsmall {
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.DirectoryLIsttablespacebottom td {
	margin-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.DirectoryLIsttablespacebottom {
	margin-bottom: 20px;
}
.DirectoryLIsttable   h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.DirectoryLIsttablespacebottom h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.questions h3 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #016A6D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.questions  h2 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	width: 90%;
}
.questions  h5 {
	background-color: #DBDBDB;
	color: #666666;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px dotted #CCCCCC;
}
.questions3 h2 {
	background-color: #003333;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	width: 40%;
}
.fieldsmall2 {
	padding: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.darkgreentext {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #006666;
}
.surveyresultslisttable a {
	color: #749C44;
}
.surveyresultslisttable a:hover {
	color: #666666;
	text-decoration: underline;
}
.surveyresutsviewtable h6 {
	background-color: #749C44;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.bolddarkgreen a {
	font-weight: bold;
	color: #016A6D;
}
.bolddarkgreen span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #002224;
}
.testcolour {
	color: FF0000;
}
#upWarning {
	display: none;
}
#companydetails td {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	color: #666;
	text-align: left;
}
