body,td,th
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body 
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(images/backgrounds/mainBg.jpg);
}
a 
{
	font-weight: bold;
}
a:link 
{
	text-decoration: none;
	color: #000000;
}
a:visited 
{
	text-decoration: none;
	color: #000000;
}
a:hover 
{
	text-decoration: underline;
	color: 4D1985;
}
a:active 
{
	text-decoration: none;
	color: 4D1985;
}
.file p
{
	color: #000000
}
.style1 
{
	color: #FFFFFF
}
.style2 
{
	color: #C8004C
}
.style3 
{
	color: #4D1985;
	font-size: 16px;
	font-weight: bold;
}
.style5 
{
	color: #CCCCCC;
	font-weight: bold;
}
.styleLink a, p
{
	color: #FFFFFF
}