body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	color: #151515;
	background: url('../images/bg.png') repeat-x #fff;}

img {
	border: 0 none;
	vertical-align: bottom;
}

/* Spacers */

hr {
	display: none;
}

.nh-content hr {
	margin: 15px 0 25px 0;
	background: #444;
	height: 1px;
	display: block;
	border: none;
}

/* Containers */

.nh-container {
	margin: 0;
	padding: 0;
}

.nh-containercenter {
	margin: 0 auto;
	padding: 30px 0 0 0;
	width: 960px;
}

.nh-containerheader {
	margin: 0 auto;
	padding: 0 0 40px 0;
	width: 960px;
}

.nh-containernavigation {
	margin: 0 auto;
	padding: 0 0 40px 0;
	width: 960px;
}

.nh-containerbanner {
	margin: 0 auto;
	padding: 0 0 40px 0;
	width: 960px;
}

.nh-containercontent {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

.nh-containerfooter {
	margin: 0 auto;
	padding: 30px 0 40px 0;
	width: 960px;
}


/* Header */

.nh-headerleft {
	margin: 0;
	padding: 0;
	float: left;
	width: 600px;
}

/*.nh-headerleft img
{width: 170px;}*/

.nh-headerleft h1 {
	display: none;
}

.nh-headerleft p {
	display: none;
}

.nh-headerright {
	margin: 0;
	padding: 20px 0 0 20px;
	float: right;
	width: 340px;
	text-align: right;
}

.nh-headerright p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.5;
}

.nh-headerright p a {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

.nh-headerright p a:hover {
	text-decoration: underline;
}


/* Navigation */

.nh-navigation {
	margin: 0 0 20px 0;
	padding: 15px 0 15px 0;
	width: 960px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.nh-navigationarea {
	margin: 0;
	padding: 10px 0 0 0;
	font-size: 14px;
	float: left;
	width: 760px;
}

.nh-navigationarea ul {
	margin: 0;
	padding: 0;
}

.nh-navigationarea li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

.nh-navigationarea li a {
	margin: 0;
	padding: 10px 10px 0 10px;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
}

.nh-navigationarea li a:hover {
	color: #fff;
}

.nh-navigationarea li a.active {
	color: #fff;
}


/* Search */

.nh-search {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: right;
	width: 200px;
}


/* Banner */

.nh-bannercenter {
	margin: 0;
	padding: 0;
	width: 960px;
	height:270px;
	position:relative;
	color: #eee;
	background: url('../images/nh/banner/banner-bg.png') no-repeat top center;
}

.nh-slideleft {
	margin: 0;
	padding: 20px 0 0 30px;
	width: 430px;
	float: left;
}

.nh-slideleft h2 {
	margin: 0;
	padding: 0 0 20px 0;
	color: #76cf8b;
	font-size: 28px;
	text-transform: uppercase;
}

.nh-slideleft p {
	margin: 0;
	padding: 0 0 50px 0;
	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
}

.nh-slideleft p a {
	margin: 0;
	padding: 12px 20px 12px 20px;
	font-size: 14px;
	background: url('../images/nh/banner/button-off.png') repeat-x bottom left #75ce8c;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #005317;
}

.nh-slideleft p a:hover {
	background: url('../images/nh/banner/button-on.png') repeat-x bottom left #91d8a3;
}

.nh-slideright {
	margin: 0;
	padding: 0;
	width: 400px;
	float: right;
}

/* Two Column */

.nh-twocolumn {
	margin: 0;
	padding: 0;
}

.nh-twocolumnleft {
	margin: 0;
	padding: 0 50px 0 0;
	float: left;
	color: #151515;
	width: 470px;
}

.nh-twocolumnright {
	margin: 0;
	padding: 0;
	float: right;
	color: #151515;
	width: 440px;
}


/* Content Area */

.nh-contentarea {
	margin: 0;
	padding: 0 50px 0 0;
	float: left;
	color: #151515;
	width: 610px;
}


/* Sidebar */

.nh-sidebar {
	margin: 0;
	padding: 0;
	float: right;
	color: #151515;
	width: 300px;
}

.nh-sidebarbox {
	margin: 0 0 20px 0;
	padding: 0;
}


/* Sidebar Navigation */

.nh-sidebarnavigation { 
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

.nh-sidebarnavigation h3 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 16px;
	color: #777;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.nh-sidebarnavigation ul { 
	margin: 0;
	padding: 0;
}

.nh-sidebarnavigation li { 
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

.nh-sidebarnavigation li a { 
	margin: 0;
	padding: 7px 0 7px 0;
	list-style: none;
	font-size: 12px;
	color: #999;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ccc;
}

.nh-sidebarnavigation li a:hover { 
	list-style: none;
	font-size: 12px;
	color: #179961;
}


/* Content */

.nh-contentheader {
	margin: 0 0 15px 0;
	padding: 0 0 3px 0;
	border-bottom: 1px solid #999;
}

.nh-contentheader h1 {
	margin: 0;
	padding: 0 0 3px 0;
	font-size: 24px;
	color: #179961;
	font-weight: normal;
	font-style: italic;
}

.nh-contentheader h2 {
	margin: 0;
	padding: 0 0 3px 0;
	font-size: 24px;
	color: #555;
	font-weight: normal;
	font-style: italic;
}

.nh-contentheader h3 {
	margin: 0;
	padding: 0 0 3px 0;
	font-size: 21px;
	color: #555;
	font-weight: normal;
}

.nh-content {
	margin: 0;
	padding: 0;
}

.nh-content img {
	margin: 0;
	padding: 0 0 20px 0;
}

.nh-content h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 21px;
	color: #151515;
	font-weight: normal;
}

.nh-content h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 18px;
	color: #151515;
	font-weight: normal;
}

.nh-content h4 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 16px;
	color: #151515;
	font-weight: normal;
}

.nh-content h5 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 14px;
	color: #151515;
	font-weight: normal;
}

.nh-content h6 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 14px;
	color: #151515;
	font-weight: normal;
	font-style: italic;
}

.nh-content p {
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 1.5;
	font-size: 12px;
	text-align: justify;
	color: #222;
}

.nh-content ul {
	margin: 0;
	padding: 0 0 20px 30px;
}

.nh-content ul  li{
	margin: 0;
	padding: 0;
	list-style: square;
	font-size: 12px;
	line-height: 1.5;
	color: #222;
}

.nh-content ol {
	margin: 0;
	padding: 0 0 20px 30px;
}

.nh-content ol  li{
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.5;
	color: #222;
}

.nh-content a {
	margin: 0;
	padding: 0;
	color: #000;
}

.nh-content a:hover {
	text-decoration: none;
}


/* Products */

.nh-products {
	margin: 0;
	padding: 0;
}

.nh-productitem {
	margin: 0;
	padding: 20px 0 15px 0;
	color: #151515;
	border-bottom: 1px solid #444;
}

.nh-productitem h3 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 18px;
	color: #179961;
	font-weight: normal;
}

.nh-productitem p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align: justify;
}

.nh-productitem a {
	margin: 0;
	padding: 0;
	color: #179961;
}

.nh-productitem a:hover {
	text-decoration: none;
}

.nh-productitemleft {
	margin: 0;
	padding: 0 20px 10px 0;
	width: 180px;
	float: left;
}

.nh-productitemright {
	margin: 0;
	padding: 0 0 10px 0;
	width: 410px;
	float: right;
}


/* Search Area */

.nh-searcharea {
	margin: 0;
	padding: 0;
	border-top: 1px solid #444;
}

.nh-searchlisting {
	margin: 0;
	padding: 15px 0 15px 0;
	color: #222;
	border-bottom: 1px solid #999;
}

.nh-searchitem {
	margin: 0;
	padding: 0 0 10px 0;
}

.nh-searchitem h3 {
	margin: 0 0 0 0;
	padding: 0 0 5px 0;
	font-size: 18px;
	color: #179961;
	font-weight: normal;
}

.nh-searchitem p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align: justify;
}

.nh-searchitem a {
	margin: 0;
	padding: 0;
	color: #179961;
}

.nh-searchitem a:hover {
	text-decoration: none;
}


/* Read More */

.nh-readmore {
	margin: 0;
	padding: 0;
}

.nh-readmore p {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.nh-readmore p a {
	margin: 0;
	padding: 0;
	color: #179961;
}

.nh-readmore p a:hover {
	color: #222;
}


/* Pages */

.nh-pages {
	margin: 0;
	padding: 10px 0 0 0;
}

.nh-pages  p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.nh-pages a {
	margin: 0;
	padding: 0 3px 0 3px;
	color: #555;
	text-decoration: none;
}

.nh-pages a:hover {
	color: #179961;
}

.nh-pages a.active {
	color: #179961;
}



/* Footer */

.nh-footercenter {
	margin: 0;
	padding: 15px 0 15px 0;
	width: 960px;
	border-top: 1px solid #5e5e5e;
}

.nh-footerleft {
	margin: 0;
	padding: 0;
	float: left;
	color: #777;
	width: 800px;
}

.nh-footerleft p {
	margin: 0;
	padding: 0;
	font-size: 11px;
}

.nh-footerright {
	margin: 0;
	padding: 0;
	float: right;
	color: #777;
	width: 160px;
}

.nh-footerright p {
	margin: 0;
	padding: 0;
	font-size: 11px;
}

.nh-footerright p a {
	margin: 0;
	padding: 0 0 5px 35px;
	color: #777;
	text-decoration: none;
	background: url('../images/nh/websol.png') no-repeat top left;
	display: block;
}

.nh-footerright p a:hover {
	text-decoration: underline;
}



#clientsection {
	margin:10px 0px 0px 2px;
	top:25px;
	position: relative;
	height:90px;	
	clear:both;
	border:1px #5e5e5e solid;
	-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 17px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 17px rgba(50, 50, 50, 0.2);
	padding-top:20px;
}

#clientsection ul {
	display:inline;
	list-style-type:none;
	margin-left:0px;
}

#clientsection ul li {
	list-style-type:none;
	display:inline;
	margin-right:5px;
}

