/* search */

.nh-searchform {
	margin: 0;
	padding: 4px 6px 4px 4px;
}

.nh-searchforminput {
	margin: 0;
	padding: 0;
}

.nh-searchforminput input {
	margin: 0;
	padding: 4px 5px 2px 5px;
	height: 20px;
	width: 150px;
	font-size: 12px;
	display: block;
	float: right;
	border: none;
}

.nh-searchforminput input:hover {
	
}

.nh-searchforminput input:focus {
	
}

.nh-searchButton {
	margin: 0;
	padding: 0;
	float: left;
	height: 26px;
	width: 26px;
}

.nh-searchButton input {
	margin: 0;
	padding: 0 0px 0 0;
	border: none;
	background: url('../images/nh/buttons/search.jpg') top left no-repeat;
	height: 26px;
	width: 26px;
	text-align: center;
	display: block;
	cursor: pointer;
}


/* generalContentForm */

.generalContentForm {
	margin: 0;
	padding: 0;
	width: 400px;
}

.generalContentFormHeader {
	margin: 0;
	padding: 0 0 15px 0;
	color: #151515;
}

.generalContentFormHeader h3 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 21px;
	font-weight: normal;
	font-style: italic;
}

.generalContentFormHeader h4 {
	margin: 0;
	padding: 0 0 3px 0;
	color: #333;
	font-size: 14px;
	font-weight: normal;
}

.generalContentFormHeader p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.generalContentFormArea {
	margin: 0;
	padding: 0;
}

.generalContentFormInput {
	margin: 0;
	padding: 0 0 5px 0;
}

.generalContentFormInput label {
	margin: 5px 0 0 0;
	padding: 2px 5px 2px 0;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	display: block;
	width: 120px;
	float: left;
}

.generalContentFormInput input {
	margin: 0;
	padding: 2px 5px 2px 5px;
	height: 20px;
	border: 1px solid #d5d5d5;
	width: 260px;
	font-size: 12px;
	color: #333333;
	display: block;
}

.generalContentFormInput input:hover {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput input:focus {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput textarea {
	margin: 0;
	padding: 5px 5px 5px 5px;
	height: 150px;
	border: 1px solid #d5d5d5;
	width: 260px;
	font-size: 12px;
	color: #333333;
	display: block;
}

.generalContentFormInput textarea:hover {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput textarea:focus {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput select {
	margin: 0;
	padding: 3px 5px 3px 5px;
	height: 28px;
	border: 1px solid #d5d5d5;
	width: 270px;
	font-size: 12px;
	color: #777;
	display: block;
	float: left;
}

.generalContentFormInput select:hover {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput select:focus {
	border: 1px solid #555;
	color: #333333;
}

.generalContentFormInput checkbox {
	margin: 0;
	padding: 0;
	float: left;
	width: 30px;
}

/* Form Button Green */

.generalContentFormSubmit {
	margin: 0;
	padding: 0 0 0 125px;
}

.formButtonGreen {
	margin: 0;
	padding: 10px 0 10px 0;
	float: left;
}

.formButtonGreen input {
	margin: 5px 0 0 0;
	padding: 0 20px 0 20px;
	font-size: 14px;
	border: none;
	background: url('../images/nh/banner/button-off.png') repeat-x bottom left #75ce8c;
	height: 39px;
	width: 101px;
	color: #fff;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #005317;
}

.formButtonGreen input:hover{
	background: url('../images/nh/banner/button-on.png') repeat-x bottom left #91d8a3;
}